<% layout('layouts/whitelayout') -%>

<header class="text-center mt-4">
    <div class="bg-light py-3 shadow-sm">
        <h2 class="text-primary fw-bold">Gửi Mã OTP</h2>
        <p class="text-muted">Vui lòng nhập email để nhận mã OTP khôi phục mật khẩu</p>
    </div>
</header>

<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow-lg" style="max-width: 400px; width: 100%;">
    <div class="card-body p-4">
      <h4 class="card-title text-center mb-4">Quên mật khẩu</h4>
      <form action="/account/forgotPassword" method="POST">
        
        <div class="mb-3">
          <label for="email" class="form-label">Địa chỉ Email</label>
          <input type="email" id="email" name="username" class="form-control" placeholder="Nhập email của bạn" required />
        </div>
        
        <button type="submit" class="btn btn-primary w-100 py-2 mt-3 fw-semibold">
          Gửi OTP
        </button>
      </form>
    </div>
  </div>
</div>


