<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucess</title>
</head>
<body>
    <h1 style="text-align: center;">Tạo lại mật khẩu mới thành công!</h1>
    <a style="text-align: center;" href="/"><=Trở về trang chủ</a>
</body>
</html>